:root
{
    --labwox-red: #FE423D;
    --black: #0f0c2ce1;
    --light-color:  #767778;
    --labwox-black: #212529;
    --outline: .1rem solid rgba(0, 0; 0.1);
    --neutrals-grey-1:  #121A26;
    --white: #fff;
    --box-shadow: 0 .4rem 1rem rgb(212, 212, 212);
    --border: 2rem solid rgb(247, 25, 25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html
{
    font-size: 62.5%;
}

body {
    background: #eee;
}

.main-container
{
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    border: opx solid;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 4%;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.logo img
{

        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: .5rem;
}

.header .navbar a
{
   font-size: 16px; 
   margin: 0 1.3rem;
   color: var(--labwox-black);
   padding-left: .3rem;
   justify-content: space-between;
   display: inline-block;
   font-family: Aeonik, sans-serif;
}

.header .navbar a:hover
{
    background: var(--labwox-red);
    color: var(--white);
}

.header .icons div
{
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: var(--labwox-red);
    color: var(--labwox-black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

#menu-btn
{
    display: none;
}

.header .navbar.active
{
    right: 2rem;
    transition: .4s linear;
    background: var(--labwox-red);
    color: var(--white);
}

 img
{
    object-fit: contain;
    width: 14px;
    height: 15px;
}

.btn-login
{
    border: 1px solid;
    margin-top: .8rem;
    display: inline-block;
    padding: .9rem 4.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--labwox-red);
    cursor: pointer;
    background: var(--white);
    margin: 1rem;
}

.btn-sign
{
    border: 1px solid;
    margin-top: .8rem;
    padding: 1.1rem 3.9rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--white);
    cursor: pointer;
    background: var(--labwox-red);
    margin: 1rem;
}

.about
{
    justify-content: center;
    padding: 5rem 17rem 3rem 8rem;
    background: #fff;
    margin-top: 80px;
}

.about h1
{
    color: var(--labwox-red);
    font-size: 2.65rem;
    font-family: 'Audiowide', cursive;

}

.about h3
{
    color: var(--labwox-black);
    font-size: 2.2rem;
    font-family: Aeonik, sans-serif;
}

.about h4
{
    color: var(--light-color);
    font-size: 1.8rem;
    font-family: Aeonik, sans-serif;
}

.about p
{
    color: var(--neutrals-grey-1);
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.5;
    text-transform: none;
    font-family: Aeonik, sans-serif;
}

.about ul li
{
    color: var(--neutrals-grey-1);
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.5;
    text-transform: none;
    font-family: Aeonik, sans-serif;
}

.about .box
{
    border: 0px solid;
}

.about .box .ban
{
    border: 0px solid;
    font-size: large;
}

.about .par p
{
    font-size: 1.3rem;
    color: var(--neutrals-grey-1);
    font-family: Aeonik, sans-serif;
    margin-left: 20px;
    margin-bottom: 0%;
}

.part h4
{
    color: var(--light-color);
    font-size: 1.5rem;
    font-family: Aeonik, sans-serif;
}

.about .part p
{
    color: var(--neutrals-grey-1);
    font-size: 1.2rem;
}

.about p span
{
    color: var(--labwox-black);
    font-family: 'Roboto', sans-serif;
    font-size: 1.12rem;
}

table
{
    margin: 15px;
    border-collapse: collapse;
    font-size: 1.27rem;
    table-layout: fixed;
    color: var(--labwox-black);
    font-family: Aeonik, sans-serif;
    padding-left: 10px;
}

th
{
    border: 1px solid var(--labwox-black);
    color: var(--labwox-black);
    font-size: 1.3rem;
    margin: .5rem;
    padding-left: 10px;
    margin: 15px;
}

td
{
    margin: 15px;;
    border: .5px  solid var(--labwox-black);
    color: var(--neutrals-grey-1);
    font-size: 1.13rem;
    padding-left: 10px;
}

.about .img-lab img
{
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin: .5rem;
}

.footer
{
    background: black;
    color: var(--white);
    padding: 70px 60px;
}

.footer .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.9rem;
    column-gap: .5rem;
    align-items: center;
}

.footer  .logo img
{
   width: 130px;
   height: 45px;
}

.footer .box-container .box
{
    padding-right: 1rem;
    font-size: 16px;
    width: 100%;
    height: 95%;
}



 .footer .box-container .box h1
 {
    margin: 22px 0px 33px;
     font-size: 36px;
     color: #fff;
     font-family: Aeonik, sans-serif;
     padding: 0px 10px 10px 10px;
 }

 .footer .box-container .box h1 span
 {
    color: #FE423D;
    font-size: 38px;
    font-family: 'Playfair Display', serif;
    margin: 22px 0px 33px;
    padding: 0px 8px 0px 0px;
 }

 .footer .box-container .box p
 {
        display: block;
        color: #ffffff80;
        padding: 0;
        justify-items: center;
        font-family: Aeonik, sans-serif;
        line-height: 2;
        text-align: left;
 } 

 .footer .box-container .box p a
 {
        color: #ffffff80;
        margin: 8px 0px 0px;
        text-decoration: underline;
        cursor: pointer;
 }

 .footer .box-container .box p a:hover
 {
        text-decoration: underline;
 }

 .footer .box-container h3
 {
     font-size: 24px;
     color: #fff;
     font-family: Aeonik, sans-serif;
 }
 
 .footer .box-container .box1
 {
    width: 100%;
    height: 100%;
 }

 .footer .box-container .box1  .terms
 {
    padding-bottom: 7rem;
 }

 .footer .box-container .box1  .terms a
 {
     display: block;
     font-size: 16px;
     color: #ffffff80;
     padding: 1rem 0;
     padding-bottom: 2.5rem;
     justify-items: center;
     font-family: Aeonik, sans-serif;
     cursor: pointer;
 }
 

 .footer .box-container .box1 a
 {
     display: block;
     font-size: 18px;
     color: #ffffff80;
     padding: 1rem 0;
     padding-bottom: 1rem;
     justify-items: center;
     font-family: Aeonik, sans-serif;
 }

 .footer .box-container  .links a
 {
     display: block;
     font-size: 2rem;
     color: #ffffff80;
     padding-top: 3rem;
     padding-bottom: 1rem;
     justify-items: center;
     font-family: Aeonik, sans-serif;
     text-decoration: underline;
     cursor: pointer;
 }
 
 .footer .box-container .box2
 {
        width: 100%;
        height: 100%;
        padding-top: 3.5rem;
 }

 .footer .box-container .box2 p
 {
        display: block;
        font-size: 16px;
        color: #ffffff80;
        padding: 0;
        justify-items: center;
        font-family: Aeonik, sans-serif;
        line-height: 2;
        text-align: left;
        padding-bottom: 1.5rem;
 }
 
 .footer .box-container .box2 .enter
 {
        font-size: 16px;
        color: #ffffff80;
        padding: 0;
        justify-items: center;
        font-family: Aeonik, sans-serif;
        text-decoration: underline;
 }
 
 .footer .box-container .box2 .enter .email 
 {
        font-size: 18px;
        color: #ffffff80;
        padding-top: 2.5rem;
        justify-items: center;
        font-family: Aeonik, sans-serif;
        background: transparent;
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 3rem;
 }


 .footer .box-container .box2 .enter  span
 {
        font-size: 16px;
        color: #ffffff80;
 }

 .footer .box-container .box2 .share p
 {
        display: block;
        font-size: 18px;
        color: #ffffff80;
        padding: 0;
        justify-items: center;
        font-family: Aeonik, sans-serif;
        line-height: 20px;
        text-align: left;
 }

 .footer .box-container .box2 .share .fa
 {
        height: 4rem;
        width: 4rem;
        border: 0px solid;
        line-height: 4rem;
        border-radius: .6rem;
        font-size: 2.3rem;
        color: #ffffff80;
        margin-left: .2rem;
        text-align: center;
        cursor: pointer;
 }

 .footer .box-container .box2 .share p:hover
 {
    text-decoration: underline;
 }



/* media queries */
@media (max-width: 991px)
{
    html
    {
        font-size: 78.5%;
    }

    .logo img
    {
        width: 100%;
        height: 100%;
    }

    .header
    {
        padding: 2.5rem;
    }

    .footer
    {
        text-align: center;
        font-size: 16px;
        width: 100%;
    }
 
    .about
    {
        justify-content: center;
        padding: 8rem 6rem;
        margin-top: 220px; 
    }

    .services
    {
        justify-content: center;
        padding: 3rem 6rem; 
    }

    .test
    {
        justify-content: center;
        padding: 8rem 6rem; 
    }
}

@media (max-width: 768px)
{
    #menu-btn
    {
        display: inline-block;
    }

    .logo img
    {
        width: 100%;
        height: 100%;
    }

    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 40rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        color: var(--labwox-black);
        background: var(--labwox-red);
    }

    .header .navbar a
    {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .about
    {
        justify-content: center;
        padding: 6rem 4rem; 
    }

    .services
    {
        justify-content: center;
        padding: 2rem 4rem; 
    }
    .test
    {
        justify-content: center;
        padding: 6rem 4rem;  
    }
}

@media (max-width: 450px)
{
    html
    {
        font-size: 70.6%;
    }

    .logo img
    {
        width: 100%;
        height: 100%;
    }

    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 65rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        color: var(--labwox-black);
        background: var(--labwox-red);
    }

    .about
    {
        justify-content: center;
        padding: 4rem 2rem;
    }

    .services
    {
        justify-content: center;
        padding: .5rem 2rem;
    }

    .test
    {
        justify-content: center;
        padding: 4rem 2rem;
    }

    .footer
    {
        text-align: center;
    }

    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 60rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        color: var(--labwox-black);
        background: var(--labwox-red);
    }

    h1 
    {
        font-size: 2.5rem;
    }
}
